set timeout=10

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Boot from Local Disk" {
    insmod chain
    search --set=root --file /EFI/ubuntu/grubx64.efi
    chainloader /EFI/ubuntu/grubx64.efi
}

menuentry "Install Ubuntu 22.04 (Jammy) - Standard Configuration" {
    linux /ubuntu-22.04/vmlinuz root=/dev/ram0 ip=dhcp url=http://${pxe_default_server}/ubuntu-22.04/ubuntu-22.04.2-live-server-amd64.iso autoinstall cloud-config-url=http://${pxe_default_server}/ubuntu-22.04/standard-configuration.yaml
    initrd /ubuntu-22.04/initrd
}

menuentry "Install Ubuntu 22.04 (Jammy) - Manual Installation" {
    linux /ubuntu-22.04/vmlinuz root=/dev/ram0 ip=dhcp url=http://${pxe_default_server}/ubuntu-22.04/ubuntu-22.04.2-live-server-amd64.iso autoinstall
    initrd /ubuntu-22.04/initrd
}
